body{

margin : 20px;

line-height: 1.5em;

}

h1{

font-size: 30px;

text-align: center;

color: #007471;

font-family: Montana, sans-serif;


}

h2{

font-size: 24px;

text-align: left;

color: #007471;

font-family: Montana, sans-serif;

}

img{
float: left;
margin-right : 30px;
}

p{

margin-left : 20px;

font-size: 16px;

text-align: left;

font-family: Helvetica, sans-serif;

}


body {

background-color: #ffffff;

margin : 20px;

}